<div id="overlay" (click)="close()" style="display: inline"></div>
<div class="in-overlay card">
  <div class="container">
    <h2>Details</h2>
    <h4>{{ role.title }}</h4>
    <div>
      <span>Description: </span><span>{{ role.description }}</span>
    </div>
    <div>
      <span>Department: </span><span>{{ role.department.name }}</span>
    </div>
    <div>
      <p>Employees:</p>
      <div class="form-group row">
        <div class="col-sm-10">
          <select #employee class="form-control">
            <option value="" disabled selected>Employees</option>
            <option *ngFor="let employee of employees; let i = index">{{
              employee.name
            }}</option>
          </select>
        </div>
        <div class="col-sm-2">
          <button
            class="form-control btn btn-primary"
            (click)="addEmp(employee.value)"
          >
            Add
          </button>
        </div>
      </div>
      <ul>
        <li
          *ngFor="let employee of role.employees; let i = index"
          (click)="seeEmpRoles(employee.id)"
          style="width: 100%; margin: 15px 0"
        >
          <span>{{ employee.name }} {{ employee.lastname }}</span>
          <button
            class="btn btn-danger fa fa-close"
            (click)="removeEmp(i)"
            style="float: right"
          ></button>
        </li>
      </ul>
    </div>
  </div>
</div>
