<div id="overlay" (click)="close()" style="display: inline"></div>
<div class="in-overlay card">
  <div class="container">
    <h2>Details</h2>
    <h4>{{ task.name }}</h4>
    <div>
      <span>Department: </span><span>{{ department.name }}</span>
    </div>
    <div>
      <p>Employees:</p>
      <ul>
        <li
          *ngFor="let employee of employees; let i = index"
          style="width: 100%; margin: 15px 0"
        >
          <span>{{ employee.first_name }} {{ employee.last_name }}</span>
          <!-- <button
            class="btn btn-danger fa fa-close"
            style="float: right"
          ></button> -->
        </li>
      </ul>
    </div>
    <div>
      <span>Deadline: </span><span>{{ task.due_date }}</span>
    </div>
  </div>
</div>
