<div id="overlay" (click)="off()" [style.display]="show ? 'flex' : 'none'">
  <div class="in-overlay">
    <h2>Details</h2>
    <h3>{{ currentDep.name }}</h3>
  </div>
</div>

<h1>Departments</h1>

<div class="container">
  <div class="add-department">
    <div class="input-group add-input col-sm-10">
      <input id="addInput" type="text" class="form-control" #addInput />
    </div>
    <div class="input-group add-input col-sm-2">
      <a
        id="addButton"
        class="btn btn-success add-button"
        (click)="addDep(addInput)"
        ><span style="color: white">Add</span></a
      >
    </div>
  </div>

  <ul class="list-group">
    <li
      class="list-group-item row animated fadeInDown faster"
      *ngFor="let department of departments; let i = index"
    >
      <div class="col-sm-9 name">
        <p *ngIf="!department.isEditing" #departmentName>
          {{ department.name }}
        </p>
        <input
          *ngIf="department.isEditing"
          type="text"
          style="width: 100%"
          id="departmentEditInput"
          [(ngModel)]="department.name"
        />
      </div>
      <div class="button col-sm-1">
        <a class="btn btn-info" (click)="showDep(i)">
          <i class="fa fa-info-circle" style="color: white"></i>
        </a>
      </div>
      <div class="button col-sm-1">
        <a class="btn btn-primary" (click)="editDep(i)">
          <i class="fa fa-edit" style="color: white"></i>
        </a>
      </div>
      <div class="button col-sm-1">
        <a class="btn btn-danger" (click)="removeDep($event, i)">
          <i class="fa fa-remove" style="color: white"></i>
        </a>
      </div>
    </li>
  </ul>
  <br />
</div>
