<app-department-details
  [department]="currentDep"
  *ngIf="showDetails"
  (closeComp)="showDetails = false"
></app-department-details>
<app-department-add
  [style.display]="showAddForm ? 'inline' : 'none'"
  (closeComp)="showAddForm = false"
></app-department-add>

<h1>Departments</h1>

<div class="container">
  <div class="add-task">
    <div class="input-group add-input col-sm-10">
      <input
        id="addInput"
        type="text"
        class="form-control"
        #addInput
        [(ngModel)]="searchTerm"
        (ngModelChange)="search(searchTerm)"
        placeholder="Search"
      />
    </div>
    <div class="input-group add-input col-sm-2 pull-right">
      <a
        id="addButton"
        class="btn btn-success add-button"
        (click)="viewAddForm()"
        ><span style="color: white">Add</span></a
      >
    </div>
  </div>

  <ul class="list-group">
    <li
      class="list-group-item row animated fadeInDown faster"
      *ngFor="let department of departments; let i = index"
    >
      <div class="col-sm-9 name">
        <p *ngIf="!department.isEditing" #departmentName>
          {{ department.name }}
        </p>
        <input
          *ngIf="department.isEditing"
          type="text"
          style="width: 100%"
          id="departmentEditInput"
          [(ngModel)]="department.name"
        />
      </div>
      <div class="button col-sm-1">
        <a class="btn btn-info" (click)="viewDetails(i)">
          <i class="fa fa-info-circle" style="color: white"></i>
        </a>
      </div>
      <div class="button col-sm-1">
        <a class="btn btn-primary" (click)="editDep(i)">
          <i class="fa fa-edit" style="color: white"></i>
        </a>
      </div>
      <div class="button col-sm-1">
        <a class="btn btn-danger" (click)="removeDep($event, i)">
          <i class="fa fa-remove" style="color: white"></i>
        </a>
      </div>
    </li>
  </ul>
  <br />
</div>
