<div id="overlay" (click)="close()" style="display: inline"></div>
<div class="in-overlay card">
  <div class="container">
    <h2>Employee {{ employee.id }}</h2>
    <div>
      <span>Given name: </span><span>{{ employee.first_name }}</span>
    </div>
    <div>
      <span>Family name: </span><span>{{ employee.last_name }}</span>
    </div>
    <div>
      <span>Identification number: </span><span>{{ employee.id }}</span>
    </div>
    <div>
      <span>Department number: </span><span>{{ employee.department_id }}</span>
    </div>
  </div>
</div>
