<div id="overlay" (click)="off()" [style.display]="show ? 'flex' : 'none'">
  <div class="in-overlay">
    <h2>Details</h2>
    <h3>{{ currentTask.name }}</h3>
  </div>
</div>
<h1>Tasks</h1>
<div class="container">
  <div class="add-task">
    <div class="input-group add-input col-sm-10">
      <input id="addInput" type="text" class="form-control" #addInput />
    </div>
    <div class="input-group add-input col-sm-2">
      <a
        id="addButton"
        class="btn btn-success add-button"
        (click)="addTask(addInput)"
        ><span style="color: white">Add</span></a
      >
    </div>
  </div>
  <ul class="list-group">
    <li
      class="list-group-item row animated fadeInDown faster"
      *ngFor="let task of tasks; let i = index"
    >
      <div class="col-sm-10 name">
        <p *ngIf="!task.isEditing" (click)="viewDetails($event, i)" #taskName>
          {{ task.name }}
        </p>
        <input
          *ngIf="task.isEditing"
          type="text"
          style="width: 100%"
          id="taskEditInput"
          [(ngModel)]="task.name"
        />
      </div>
      <div class="button col-sm-1">
        <a class="btn btn-primary" (click)="editTask(i)">
          <i class="fa fa-edit" style="color: white"></i>
        </a>
      </div>
      <div class="button col-sm-1">
        <a class="btn btn-danger" (click)="removeTask($event, i)">
          <i class="fa fa-remove" style="color: white"></i>
        </a>
      </div>
    </li>
  </ul>
</div>
