<app-task-details
  [task]="taskToView"
  *ngIf="showDetails"
  (closeComp)="showDetails = false"
></app-task-details>
<app-task-add
  *ngIf="showAddForm"
  (closeComp)="closeAddTaskDialog($event)"
></app-task-add>

<h1>Tasks</h1>

<div class="container">
  <div class="add-task">
    <div class="input-group add-input col-sm-3">
      <a
        id="addButton"
        class="btn btn-success add-button"
        (click)="viewAddForm()"
        ><span style="color: white">Add</span></a
      >
    </div>
    <div class="input-group col-sm-9">
      <input
        type="text"
        class="form-control add-input"
        [(ngModel)]="searchTerm"
        (ngModelChange)="search(searchTerm)"
        placeholder="Search"
      />
    </div>
  </div>

  <ul class="list-group">
    <li
      class="list-group-item row animated fadeInDown faster"
      *ngFor="let task of tasks; let i = index"
    >
      <div class="col-sm-9 title">
        <div class="row">
          <div class="col-sm-7">
            <p *ngIf="!task.isEditing" #taskName>
              {{ task.name }}
            </p>
            <input
              *ngIf="task.isEditing"
              type="text"
              style="width: 100%"
              id="taskEditInput"
              [(ngModel)]="task.name"
            />
          </div>
          <div class="col-sm-5 text-center">
            <span class="text-secondary">Deadline: {{ task.due_date }}</span>
          </div>
        </div>
      </div>

      <div class="options col-sm-3">
        <div class="button col-sm-4">
          <a class="btn btn-info" (click)="viewDetails(i)">
            <i class="fa fa-info-circle" style="color: white"></i>
          </a>
        </div>

        <div class="button col-sm-4">
          <a class="btn btn-primary" (click)="editTask(i)">
            <i class="fa fa-edit" style="color: white"></i>
          </a>
        </div>

        <div class="button col-sm-4">
          <a class="btn btn-danger" (click)="removeTask(i)">
            <i class="fa fa-remove" style="color: white"></i>
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>
