<h1>Dashboard</h1>

<div class="container">
  <select
    class="form-control"
    [(ngModel)]="option"
    (ngModelChange)="updateView(option)"
  >
    <option value="tasks">Tasks</option>
    <option value="departments">Departments</option>
    <option value="employees">Employees</option>
    <option value="roles">Roles</option>
  </select>
  <div [ngSwitch]="option">
    <app-tasks *ngSwitchDefault></app-tasks>
    <app-departments *ngSwitchCase="'departments'"></app-departments>
    <app-employees *ngSwitchCase="'employees'"></app-employees>
    <app-roles *ngSwitchCase="'roles'"></app-roles>
  </div>
</div>
