<app-role-details
  [role]="currentRole"
  *ngIf="showDetails"
  (closeComp)="showDetails = false"
></app-role-details>
<app-role-add
  *ngIf="showAddForm"
  (closeComp)="showAddForm = false"
></app-role-add>

<h1>Roles</h1>

<div class="container">
  <div class="add-role">
    <div class="input-group add-input col-sm-3">
      <a
        id="addButton"
        class="btn btn-success add-button"
        (click)="viewAddForm()"
        ><span style="color: white">Add</span></a
      >
    </div>

    <!-- Search form -->
    <div class="input-group col-sm-9">
      <input
        type="search"
        class="form-control add-input"
        [(ngModel)]="searchText"
        (ngModelChange)="search(searchText)"
        placeholder="Search roles"
      />
    </div>
  </div>

  <ul class="list-group">
    <li
      class="list-group-item row animated fadeInDown faster"
      *ngFor="let role of roles; let i = index"
    >
      <div class="col-sm-9 title">
        <div class="row">
          <div class="col-sm-7">
            <p *ngIf="!role.isEditing" #roleName>
              {{ role.title }}
            </p>
            <input
              *ngIf="role.isEditing"
              type="text"
              style="width: 100%"
              id="roleEditInput"
              [(ngModel)]="role.name"
            />
          </div>
        </div>
      </div>

      <div class="options col-sm-3">
        <div class="button col-sm-4">
          <a class="btn btn-info" (click)="viewDetails(i)">
            <i class="fa fa-info-circle" style="color: white"></i>
          </a>
        </div>

        <div class="button col-sm-4">
          <a class="btn btn-primary" (click)="editRole(i)">
            <i class="fa fa-edit" style="color: white"></i>
          </a>
        </div>

        <div class="button col-sm-4">
          <a class="btn btn-danger" (click)="removeRole(i)">
            <i class="fa fa-remove" style="color: white"></i>
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>
